<%- include header %>
<ul>
	<li><h3><a href="http://m.vancl.com" title="mvancl">MVancl</a></h3>移动端凡客网站</li>
	<li><h3><a href="http://w.vancl.com" title="mvancl">WVancl</a></h3>微信端凡客网站</li>
	<li><h3><a href="http://www.vancl.com" title="mvancl">Vancl</a></h3>PC端凡客网站</li>
</ul>
<%- include footer %>