<%- include header %>

<form method="post">
	<label for="title">标题</label>
	<input type="text" name="title" value="" placeholder="请输入博客标题" /><br />
	<label for="post">正文</label>
	<textarea name="post" rows="20" cols="100" placeholder="请输入博客内容"></textarea>
	<input type="submit" name="" value="发表" />
</form>	

<%- include footer %>