<%- include header %>
<form method="post" action="/upload" enctype="multipart/form-data" accept-charset="utf-8">
	<input type="file" name="field1"/><br />
	<input type="file" name="field2" /><br />
	<input type="file" name="field3" /><br />
	<input type="file" name="field4" /><br />
	<input type="file" name="field5" /><br />
	<input type="submit" name="" value="提交" />
</form>
<%- include footer %>